
{% extends 'UserPracticeBundle:Page:base.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}

	<div class = "login-wrapper">
	    	
	    	<div class ="flashMessage">
	    			{% for flashMessage in app.session.flashbag.get('error') %}
			            <div class="glyphicon glyphicon-remove" id = "error-msg">
			            {{ flashMessage }}
			            </div> 
			        {% endfor %}

					 {% for flashMessage in app.session.flashbag.get('success') %}
			            <div id = "success-msg" class = "glyphicon glyphicon-ok">
			            {{ flashMessage }}
			            </div> 
			        {% endfor %}
	    	</div>

			    	{% if error %}
					    <div>{{ error.message }}</div>
					{% endif %}

					<form action="login_check" method="post">

					    <input type="text" id="email" class = "form-control" name="_username" placeholder = "Email" value="{{ last_username }}" />


					    <input type="password" id="password" class = "form-control" name="_password" placeholder = "Password"/>

					    {#
					        If you want to control the URL the user
					        is redirected to on success (more details below)
					        <input type="hidden" name="_target_path" value="/account" />
					    #}

					    <button name = "login" type="submit" class = "btn btn-primary">login</button>
					</form>


	    		<p class = "fpass-signup"><a href = "{{ path('user_practice_forgot_pass_request') }}">Forgot password?</a> | <a href = "{{ path('user_practice_signup') }}""> Signup </ad></p>

	</div>
    
{% endblock %}
